doctype
html
    head
        meta(http-equiv="content-type",content="text/html")
        link(href="css/ionic.css",rel="stylesheet")
        link(href="css/style.css",rel="stylesheet")
        link(href="/bower_components/ionic/dist/css/themes/ionic-ios7.css",rel="stylesheet")
        script(src="js/vendor/angular.js")
        script(src="js/vendor/socket.io.js")
        script(src="js/vendor/ionic.js")
        script(src="js/vendor/ionic-angular.js")
        script(src="js/vendor/angular-animate.js")
        script(src="js/vendor/angular-resource.js")
        script(src="js/vendor/angular-loader.js")
        script(src="js/vendor/angular-cookies.js")
        script(src="js/vendor/angular-sanitize.js")
        script(src="js/vendor/angular-ui-router.js")
        script(src="js/vendor/angular-touch.js")
        script(src="js/vendor/angular-route.js")
        block head
    body
        block content