tabs(tabs-style="tabs-icon-top",tabs-type="tabs-positive")
    tab(title="HOME",icon="ion-home",href="#/tab/home")
        nav-view(name="home-tab")
    tab(title="ABOUT",icon="ion-ios7-information",href="#/tab/about")
        nav-view(name="about-tab")
    tab(title="HOME",icon="ion-home",ui-sref="#/tab/contact")
        nav-view(name="contact-tab")