html
    head
        link(href="bower_components/foundation/css/foundation.css",rel="stylesheet")
        link(href="bower_components/foundation/css/foundation.css",rel="stylesheet")
        script(src="bower_components/foundation/js/vendor/jquery.js",type="text/javascript")
    body
        .row
            .columns.medium-3.large-5
                h1 hello world!!
            .columns.medium-3.large-3
                h1 hello world!!
            .columns.medium-3.large-2
                h1 hello world!!
            .columns.medium-3.large-2
                h2 hello world
        .row
            .columns.medium-12
                h1  FUCK YOU WORLD

