html
    head
        link(href="bower_components/bootstrap/dist/css/bootstrap.css",rel="stylesheet")
        link(href="css/style.css",rel="stylesheet")
        script(src="bower_components/jquery/jquery.js")
        script(src="js/app.js")
        script(src='js/ajax.js')
        script(src='js/loadpage.js')
    body
        span dsadasdas
        span.glyphicon.glyphicon-book
        br
        button
        button.btn.btn-primary
            span.glyphicon.glyphicon-book  book
        button.btn.btn-warning warning
        button.btn.btn-success success
        h1 hello world
        form
            input.form-control(type='text',placeholder='search Facebook ID')
            button.btn.btn-danger submit
        .facebook
            table
                tr
                    td firstname:
                    td#firstname
                tr
                    td lastname:
                    td#lastname
                tr
                    td gender:
                    td#gender
        #loading LOADING
        #errJSON
        #frame
