html
    head
        script(src="bower_components/jquery/jquery.js")
        script(src="bower_components/bootstrap/dist/js/bootstrap.js")
        link(href='bower_components/bootstrap/dist/css/bootstrap.css',rel="stylesheet")
        script(src='app2.js')
        style
    body
        .container
            .row
                .col-sm-5
                    .btn-group.center-block
                        button.btn.btn-danger danger
                        button.btn.btn-primary primary
                        button.btn.btn-success success
                .col-sm-3
                    button.btn.btn-warning warning