html
    head
        script(src="bower_components/jquery/jquery.js")
        script(src="bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="app.js")
        link(href='style.css',rel='stylesheet')
        link(href='bower_components/bootstrap/dist/css/bootstrap.css',rel="stylesheet")
    body
        p ftw
        h2 hello
        span hello
        #container
            #inner-container
                .red in-innerRed
                #inner-container2
                    .red in-innerRed2
            span.red
                i innerRed
            span.blue
        .red outter red
        div
            ul
                li list item 0
                    ul
                        li list item 11
                        li list item 12
                li list item 1
                li list item 2
                li list item 3
                li list item 4
                li list item 5
                li list item 6
                li list item 7
                li list item 8
                li list item 9