doctype html
html
    head
        link(href="bower_components/ionic/dist/css/ionic.css",rel="stylesheet")
        link(href="style.css",rel="stylesheet")
        script(src="bower_components/ionic/dist/js/ionic.js")
        script(src="bower_components/ionic/dist/js/angular/angular.js")
        script(src="bower_components/ionic/dist/js/angular/angular-animate.js")
        script(src="bower_components/ionic/dist/js/angular/angular-sanitize.js")
        script(src="bower_components/ionic/dist/js/angular/angular-route.js")
        script(src="bower_components/ionic/dist/js/angular/angular-cookies.js")
        script(src="bower_components/ionic/dist/js/angular/angular-touch.js")
        script(src="bower_components/ionic/dist/js/angular/angular-resource.js")
        script(src="bower_components/ionic/dist/js/angular-ui/angular-ui-router.js")
        script(src="bower_components/ionic/dist/js/ionic-angular.min.js")
        script(src="js/script.js")
    body(ng-app="Orcid")
        nav-bar(animation="nav-title-slide-ios7",type="bar-positve")
        nav-view(animation="slide-left-right")