.bottom {
  border: 1px solid;
  width: 100px;
}
.bottom .userImg {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.bottom span {
  color: #008000;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 5px;
  font-size: 14px;
}
