tabs(tab-style="tabs-icon-top",href="#/tab/home")
    tab(title="Home",ui-sref="tabs.home")
        nav-view(name="home-tab")
    tab(title="About",ui-sref="tabs.about")
        nav-view(name="about-tab")
    tab(title="Contact",ui-sref="tabs.contact")